@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


@theme {
  --font-inter: 'Inter', sans-serif;
  --color-primary: #684aff;
  --color-light: #fafafa;
  --color-dark: #212121;
  --color-primary-light: #f0edff;
  --color-gray: #bebebe;
}